.manus {
  font-family: 'Pinyon Script', cursive;
}
.centered {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.lg-timer {
  display: none;
}
.link {
  color: #2aabe4;
  text-decoration: underline;
}
.size-m {
  font-size: 1.4em;
}
body {
  background: #fff;
  padding-top: 80px;
/*recomendaciones*/
/*RSVP*/
/*Mesa de regalos*/
}
body .navbar-default {
  background-color: #fff;
  border-color: transparent;
  height: 70px;
}
body .navbar-default .navbar-header {
  text-align: center;
  height: 70px;
}
body .navbar-default .navbar-header a.navbar-brand {
  float: none;
  font-size: 4em;
  height: 60px;
  margin: 10px auto 0 auto;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 60px;
}
body .navbar-default .navbar-toggle {
  border-color: transparent;
  border-radius: 0;
  margin-top: 30px;
  padding: 0;
}
body .navbar-default .navbar-toggle .icon-bar {
  background-color: #cba447;
}
body .navbar-default .navbar-collapse,
body .navbar-default .navbar-form {
  border-color: transparent;
}
body .navbar-default .navbar-collapse {
  background-color: rgba(255,255,255,0.9);
  padding-top: 20px;
}
body .navbar-default .navbar-collapse .nav>li {
  text-align: center;
  margin: 20px 0;
}
body .navbar-default .navbar-collapse .nav>li a {
  color: #cba447;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
body .navbar-default .navbar-nav>.active>a,
body .navbar-default .navbar-nav>.active>a:focus,
body .navbar-default .navbar-nav>.active>a:hover {
  background-color: none;
}
body .navbar-default .navbar-nav>.active>a {
  background-color: transparent;
}
body .ghost {
  background-color: #fff;
  display: none;
  height: 100px;
  width: 100%;
}
body h1 {
  font-size: 3.2em;
  margin-bottom: 0.5em;
  text-align: center;
}
body h2 {
  color: #cba447;
  font-size: 1.7em;
  text-align: center;
}
body .slider {
  border: 5px solid #808080;
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
body .slider .fade-container {
  overflow: hidden;
  display: block;
  height: auto;
  width: 100%;
}
body .slider .fade-container .slick-slide {
  height: auto;
  overflow: hidden;
}
body .slider .fade-container .slick-slide img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
}
body .slider .fade-container .slick-prev,
body .slider .fade-container .slick-next {
  position: absolute;
  top: 45%;
  color: #cba447;
  background-color: transparent;
  border: none;
  font-size: 2em;
}
body .slider .fade-container .slick-prev {
  left: 0;
}
body .slider .fade-container .slick-next {
  right: 0;
}
body .welcome {
  font-size: 1.3em;
  margin-top: 20px;
  text-align: center;
}
body .welcome .left,
body .welcome .right {
  color: #cba447;
  font-size: 1.2em;
}
body .story {
  font-size: 1.3em;
  margin: 10px auto 30px auto;
  position: relative;
  text-align: center;
}
body .story span {
  border-bottom: 1px solid #cba447;
  border-top: 1px solid #cba447;
  padding: 5px 0;
}
body .social {
  color: #bdbdbd;
  float: none;
  height: auto;
  margin: 0 auto;
  margin-top: 40px;
  width: 300px;
}
body .social figure {
  display: inline-block;
  height: auto;
  overflow: hidden;
  padding: 0;
  padding-top: 0px;
  vertical-align: middle;
  width: 60px;
}
body .social .tag {
  display: inline-block;
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
body .social .tag .hashtag {
  color: #000;
  font-size: 1.6em;
  font-weight: bold;
}
body .timer {
  background-color: #808080;
  color: #fff;
  margin: 30px 0;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
body .timer .title {
  text-transform: uppercase;
  font-size: 1.2em;
}
body .timer .blocks-container {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 260px;
}
body .timer .blocks-container .block {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 112px;
  margin: 10px 0 0 10px;
  width: 112px;
}
body .timer .blocks-container .block .number {
  font-size: 4em;
  line-height: 1em;
  margin-top: 16px;
}
body .timer .blocks-container .block .text {
  font-size: 1em;
}
body .recomendaciones {
  border-top: 1px solid #cba447;
  border-bottom: 1px solid #cba447;
  text-align: center;
  font-size: 2.4em;
  margin-top: 20px;
}
body .panel-group {
  margin-top: 25px;
}
body .panel {
  border: none;
  border-bottom: 1px solid #cba447;
}
body .panel .panel-body {
  text-align: center;
}
body .panel .panel-body figure {
  display: inline-block;
  text-align: center;
  width: 49%;
}
body .panel .panel-body figure img {
  display: block;
  height: auto;
  width: 100%;
}
body .panel .panel-heading {
  background-color: transparent;
}
body .panel .item {
  text-align: center;
  color: #000;
  height: auto;
  overflow: hidden;
  margin-bottom: 40px;
}
body .panel .item .title {
  color: #cba447;
}
body .panel .item .text a {
  color: #2aabe4;
  text-decoration: underline;
}
body .panel .item figure {
  padding: 0;
  margin: 0;
}
body .panel .item figure a {
  display: block;
  width: 100%;
  height: auto;
}
body .panel .item figure a:hover {
  cursor: pointer;
}
body .phrase {
  margin-top: 20px;
  padding: 0 20px;
}
body input.form-control,
body textarea.form-control {
  background-color: #f2f2f2;
  border-color: #e6e6e6;
  border-radius: 2px;
}
body textarea.form-control {
  resize: none;
}
body input.submit-btn {
  background-color: #cba447;
  color: #fff;
  font-size: 1.1em;
}
body .main-container .form-group.error .form-control {
  border-color: #f00;
}
body .sent_mail_alert {
  background-color: rgba(255,255,255,0.9);
  border: 2px solid #cba447;
  bottom: 350px;
  display: none;
  font-size: 1.2em;
  left: 50%;
  margin-left: -150px;
  padding: 30px 40px;
  position: absolute;
  text-align: center;
  width: 300px;
}
body .alert_fields {
  color: #f00;
  text-align: center;
  display: none;
}
body footer {
  color: #4d4d4d;
  height: auto;
  overflow: hidden;
  padding-bottom: 50px;
}
body footer .event-title {
  font-size: 2.4em;
  text-align: center;
}
body footer .event-title span.icon-06,
body footer .event-title p.manus {
  display: inline-block;
}
body footer .event-title span.icon-06 {
  font-size: 1.3em;
  vertical-align: middle;
}
body footer ul.navbar-nav {
  font-size: 0.8em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
body footer ul.navbar-nav li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 5px;
}
body footer ul.navbar-nav li:first-of-type {
  margin-left: none;
}
body footer ul.navbar-nav li a {
  color: #4d4d4d;
  display: block;
}
body footer .brandtelier {
  float: none;
  height: 100px;
  margin: 0px auto 0 auto;
  padding: 0;
  width: 142px;
}
body footer .brandtelier a {
  color: #65c7c6;
  display: block;
  font-size: 10em;
  height: 100%;
  line-height: 0.2em;
  width: 100%;
}
@media screen and (min-width: 480px) {
  body h1 {
    font-size: 4.4em;
  }
  body .welcome {
    font-size: 2em;
  }
  body .welcome .left,
  body .welcome .right {
    font-size: 1.2em;
  }
  body .story {
    font-size: 1.8em;
    margin-bottom: 45px;
  }
  body .social {
    margin-bottom: 30px;
    margin-top: 40px;
  }
  body .blocks-container {
    width: 260px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  body .blocks-container .block {
    display: inline-block;
    margin-left: 10px;
  }
  body footer {
    height: auto;
  }
  body footer ul.navbar-nav {
    font-size: 0.9em;
  }
  body footer ul.navbar-nav li {
    margin-left: 20px;
  }
  body footer ul.navbar-nav li:first-of.type {
    margin-left: none;
  }
}
@media screen and (min-width: 768px) {
  .sm-timer {
    display: none;
  }
  .lg-timer {
    display: block;
  }
  body {
    background-color: #f2f2f2;
    padding-top: 110px;
  }
  body .ghost {
    display: block;
  }
  body .navbar-default {
    border-color: transparent;
    height: 110px;
  }
  body .navbar-default .container {
    margin: 0 auto;
    padding: 0;
    width: 720px;
  }
  body .navbar-default .container .navbar-header {
    height: 70px;
    text-align: center;
  }
  body .navbar-default .container .navbar-header a.navbar-brand {
    float: none;
    left: 50%;
    margin: 35px 0 0 -30px;
    padding: 0;
  }
  body .navbar-default .container .navbar-header .nav>li {
    text-align: center;
    margin: 20px 0;
  }
  body .navbar-default .container .navbar-header .nav>li a {
    color: #cba447;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }
  body .navbar-default .container .navbar-nav>.active>a,
  body .navbar-default .container .navbar-nav>.active>a:focus,
  body .navbar-default .container .navbar-nav>.active>a:hover {
    background-color: none;
  }
  body .navbar-default .container .navbar-nav>.active>a {
    background-color: transparent;
  }
  body .navbar-default .container .navbar-collapse {
    background-color: transparent;
  }
  body .navbar-default .container .navbar-collapse .nav {
    width: 720px;
    margin-top: -45px;
  }
  body .navbar-default .container .navbar-collapse .nav li {
    margin-left: 30px;
  }
  body .navbar-default .container .navbar-collapse .nav li:first-of-type {
    margin-left: 0;
  }
  body .navbar-default .container .navbar-collapse .nav .mesa {
    margin-left: 85px;
  }
  body .timer .blocks-container {
    width: 610px;
  }
  body .timer .blocks-container .block {
    margin-left: 50px;
  }
  body .timer .blocks-container .block:first-of-type {
    margin-left: 0;
  }
  body .main-container {
    -moz-box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.46);
    background-color: #fff;
    box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.46);
    margin-top: -100px;
    position: relative;
    z-index: 2;
  }
  body .main-container p {
    padding-left: 40px;
    padding-right: 40px;
  }
  body .main-container .container {
    width: 650px;
  }
  body .main-container .container .form-group.first-line {
    float: left;
    width: 50%;
  }
  body .main-container .container .form-group.first-line:first-of-type {
    margin-right: 5%;
    width: 45%;
  }
  body .main-container .container .form-group.error .form-control {
    border-color: #f00;
  }
  body .main-container .container .form-group .submit-btn {
    font-size: 1.4em;
    height: 50px;
    margin: 0 auto;
    padding: 10px 0;
    width: 300px;
  }
  body .main-container .container .sent_mail_alert {
    bottom: 600px;
    font-size: 1.4em;
    margin-left: -250px;
    width: 500px;
  }
  body h1 {
    font-size: 5em;
    margin-bottom: 0;
    padding-top: 20px;
  }
  body .recomendaciones {
    width: 400px;
    margin: 0 auto;
  }
  body .slider {
    width: 90%;
    margin: 0 auto;
  }
  body .panel-group {
    margin-top: 50px;
  }
  body .panel {
    width: 90%;
    margin: 0 auto;
  }
  body .panel .item {
    width: 50%;
    float: left;
    margin-bottom: 40px;
  }
  body .panel .item.salon {
    height: 140px;
  }
  body .panel .item .title {
    color: #cba447;
  }
  body .panel .item .text a {
    color: #2aabe4;
    text-decoration: underline;
  }
  body .panel .item figure {
    padding: 0;
    margin: 0;
  }
  body .panel .item figure a {
    display: block;
    width: 100%;
    height: auto;
  }
  body .panel .item figure a:hover {
    cursor: pointer;
  }
  body footer {
    height: auto;
    width: 720px;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  body footer .event-title {
    width: 40%;
    text-align: left;
    float: left;
  }
  body footer .event-title span.icon-06 {
    font-size: 2em;
  }
  body footer ul.navbar-nav {
    width: 370px;
    display: block;
    float: right;
    padding: 10px 0 0;
    margin: 0;
  }
  body footer ul.navbar-nav li {
    display: inline-block;
    margin-left: 11px;
  }
  body footer .brandtelier {
    float: right;
    height: 60px;
    margin: -30px 0 0;
  }
}
@media screen and (min-width: 992px) {
  body .blocks-container {
    width: 700px;
  }
  body .blocks-container .block {
    display: inline-block;
    margin-left: 70px;
  }
  body .blocks-container .block:first-of-type {
    margin-left: 0;
  }
  body .panel-group {
    margin-bottom: 50px;
  }
  body .panel .panel-body.dresscode {
    margin: 0 auto;
    width: 500px;
  }
  body .panel .panel-body.dresscode figure {
    display: inline-block;
    text-align: center;
    width: 49%;
  }
  body .panel .panel-body.dresscode figure img {
    display: block;
    height: auto;
    width: 100%;
  }
  body footer {
    height: auto;
    width: 970px;
    margin: 0 auto;
  }
  body footer .event-title {
    width: 40%;
    text-align: left;
  }
  body footer .event-title span.icon-06,
  body footer .event-title p.manus {
    display: inline-block;
  }
  body footer .event-title span.icon-06 {
    font-size: 2em;
  }
  body footer ul.navbar-nav {
    width: 510px;
    float: right;
    padding-top: 10px;
  }
  body footer ul.navbar-nav li {
    display: inline-block;
    margin-left: 30px;
    font-size: 1.2em;
  }
  body footer .brandtelier {
    float: right;
    height: 60px;
    margin: -20px 0 0 0;
  }
  body footer .brandtelier a {
    color: #65c7c6;
    display: block;
    font-size: 8em;
    height: 100%;
    line-height: 0.2em;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  body .navbar-default .container {
    width: 800px;
  }
  body .navbar-default .container .navbar-header a.navbar-brand {
    float: none;
    font-size: 7em;
    height: 100px;
    left: 50%;
    margin: 5px 0 0 -50px;
    padding: 0;
    width: 100px;
  }
  body .navbar-default .container .navbar-collapse {
    width: 800px;
  }
  body .navbar-default .container .navbar-collapse .nav {
    width: 800px;
  }
  body .navbar-default .container .navbar-collapse .nav .mesa {
    margin-left: 160px;
  }
  body footer {
    width: 1140px;
    height: 200px;
  }
  body footer .event-title {
    width: 40%;
    text-align: left;
  }
  body footer .event-title span.icon-06,
  body footer .event-title p.manus {
    display: inline-block;
  }
  body footer .event-title span.icon-06 {
    font-size: 2em;
  }
  body footer ul.navbar-nav {
    width: 565px;
  }
  body footer ul.navbar-nav li {
    display: inline-block;
    margin-left: 30px;
    font-size: 1.4em;
  }
  body footer .brandtelier {
    float: right;
    width: 125px;
    height: 60px;
    margin: -20px 0 0 0;
  }
  body footer .brandtelier a {
    color: #65c7c6;
    display: block;
    font-size: 8em;
    height: 100%;
    line-height: 0.2em;
    width: 100%;
  }
}
